<h1>Wishes</h1>

<h3>What do you wish for?</h3>

<ul>
  {{#each wishes}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>wish: {{this.wish}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="task"></textarea>

	<button type="submit">Submit</button>
</form>